

header{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}
header ul li{
}
header ul li{
    display: inline;
    list-style-type: none;
}
header ul li a{
    text-decoration: none;
    color: black;
    font-size: .8rem;
    font-family: Open Sans;
}
header ul li button{
    padding: 7px 13px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    font-family: Roboto;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    transition: .3s ease-in-out;
}
header ul li button:hover{
    background-color: blue;
    cursor: pointer;
}
.container{
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search-bar{
    margin-top: 35px;
}
.search-bar input{
    min-width: 500px;
    border-radius: 25px;
    padding: 12.5px 25px;
    border: 1px solid #cccccc;
    outline: none;
}
.search-btn{
    margin: 25px;
}
.search-btn button{
    border: 0px solid #cccccc;
    border-radius: 5px;
    color: #4f6d7a;
    background-color: #e8eddf;
    padding: 10px 15px;
    margin: 0 5px;
    font-size: .9rem;
    outline: none;
}
.search-btn button:hover{
    cursor: pointer;
    background-color: #d0d5c8;
    color: #576574;
}
.languages p{
    font-size: .8rem;
}
.languages p a{
    text-decoration: none;
}
.location{
   font-family: 1.2rem;
   padding: 10px 15px 5px;
   margin-left: 40px;
}
footer{
    display: inline;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #ebebeb;
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;
}
.info, .rules{
    padding: 15px;
}
.info{
    float: left;
}
.info ul li, .rules ul li{    
    display: inline-block;
}
.info ul li a, .rules ul li a{
    text-decoration: none;
    color: #001233;
}
.info ul, .rules ul{    
    margin: 0;
}
.rules{
    float: right;
}
footer ul li{
    list-style-type: none;
}